// Foundation by ZURB
// Customisation by Takomo
// © Takomo


// Page Content
.choc-fruit {
  margin: 40px auto 45px auto;
  width: 60%;

  @media #{$medium-only} {
    margin: 10px auto 30px;
  }

  @media #{$small-only} {
    margin: 0px auto 25px;
    max-width: 200px;
  }

  @media (min-width: 600px) and (max-width: 928px) {
    max-width: 250px;
  }
}

.choco-logo-small img {
  max-width: 240px;

  @media all and (min-width: 600px) {
    max-width: 330px;
  }
}

.column-one-content {
  @media #{$medium-up} {
    margin-top: 7%;
  }
}

.column-two-content {
  @media #{$medium-up} {
    margin-top: 8%;
  }

  @media #{$large-up} {
    margin-top: 5%;
  }
}

.content-pushed-right {
  padding-left: 50px;

  @media #{$medium-only} {
    padding-left: 30px;
  }
}

.mobile {
  @media #{$large-up} {
    margin: -9px 7px 0 0;
    height: 39px;
  }

  @media #{$medium-only} {
    margin: -7px 4px 0 0;
    height: 26px;
  }

  @media #{$small-only} {
    margin: -6px 4px 0 0;
    height: 22px;
  }
}

.email {
  margin: -2px 4px 0 0;
  width: 2.5%;

  @media #{$small-only} {
    margin: -2px 4px 0 0;
    width: 10px;
  }
}

.web {
  margin: -1px 3px 0 0px;
  width: 2.0%;

  @media #{$small-only} {
    margin: -1px 3px 0 4px;
    width: 8px;
  }
}